@page "{resturantId:int}"

@model DetailModel
@{

    ViewData["Title"] = "Detail-test";
}

<h2>@Model.Resturant.Name</h2>
<div>
    Location: @Model.Resturant.Location
</div>
<div>
    Cuisine: @Model.Resturant.Cusinie
</div>
<div>
        Id: @Model.Resturant.Id
</div>

<a asp-page="./List" class="btn btn-default">All Resturants</a>